.Notification {
  background-color: rgb(141, 7, 7);
  width: 1000px;
  display: flex;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
}

.ReconnectButton {
  padding: 10px;
  border: none;
  height: 100%;
  width: 100%;
  background-color: rgb(141, 7, 7);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.ReconnectButton:hover {
  background-color: rgb(187, 2, 2);
}

.ReconnectButton:active {
  background-color: rgb(184, 71, 71);
}

@media (max-width: 600px) {
  .Notification {
    width: 100%;
  }
}
