@import '../../../../_colors.scss';
@import '../../../../_media.scss';

.header {
  border-bottom: 1px solid $matrix-black;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
  padding: 0.25rem;
  padding-right: 2rem;
}

.cell {
  color: $smooth-gray;
  display: flex;
  justify-content: flex-end;
  width: 33.3%;
}

.hideOnMobile {
  display: none;

  @include not-mobile {
    display: flex;
  }
}
