.header {
  border-bottom: 1px solid #262e3e;
}

.header__row {
  text-align: right;
}

.header-cell {
  color: #474e5d;
  padding: 5px 15px;
}

@media (max-width: 600px) {
  .header {
    margin: 1px 0;
  }
}
