@import '../../../../_colors.scss';

.header {
  border-bottom: 1px solid #262e3e;

  .row {
    text-align: right;

    .cell {
      color: $header-color;
      padding: 0.31rem 0.93rem;
    }
  }
}
