@import '../../../../_media.scss';

.order {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  padding-right: 2rem;

  .cell {
    width: 33.3%;
    display: flex;
    justify-content: flex-end;

    &.price--bid {
      color: #2fc08d;
    }

    &.price--ask {
      color: #e64d55;
    }
  }
}

.bidColumn {
  flex-direction: row-reverse;
  @include not-mobile {
    flex-direction: row;
  }
}

.askColumn {
  flex-direction: row-reverse;
}
