.orderbook {
  display: flex;
  /* background-color: #262e3e; */
  flex-direction: column;
  color: white;
  padding: 10px;
  margin: 2px 5px 2px 5px;
}

.title {
  background-color: #121828;
  display: flex;
}

.left {
  padding: 10px;
  width: 33.3%;
  display: flex;
}

.orders {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1px 0;
}

@media (max-width: 600px) {
  .orderbook {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .orders {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .title {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .left {
    padding: 10 15px;
  }
}
