.orderbook {
	color: white;
	padding: 0;
	margin: 0;
	width: 100vw;
}

.title {
	width: 100%;
	display: flex;
	align-items: center;
}

@media (min-width: 640px) {
	.orderbook {
		padding: 0.625rem;
		margin: auto;
		width: 85vw;
		min-width: 600px;
		max-width: 845px;
	}
}
