.graph {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	z-index: 0;
}

.bar-lines-container {
	height: 100%;
	display: flex;
}

.bar-lines-container--red {
	transform: rotate(180deg);
	flex-direction: row-reverse;
}

.graph__sell {
	height: 93.5%;
}

.buy-bar {
	background: #143c3c;
}

.sell-bar {
	background: #45212d;
}

@media (min-width: 40rem) {
	.graph {
		height: 93.5%;
	}
}
