.graph {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bar-lines-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.buy-bar {
  background: green;
  left: 0;
}

.sell-bar {
  background: rgb(112, 22, 22);
  right: 0;
}

@media (max-width: 600px) {
  .bar-lines-container--red {
    transform: rotate(180deg);
    flex-direction: row-reverse;
  }
}
