.graph {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.graph__sell {
  height: 93.5%;
  flex-direction: column-reverse;
}

@media (min-width: 40rem) {
  .graph {
    height: 93.5%;
    flex-direction: row-reverse;
    align-items: flex-end;
  }
}
