@import '../../_media.scss';

.ask {
  height: 93.5%;
  flex-direction: column-reverse;
}

.bid {
  flex-direction: column;
  height: 100%;
}

.graph {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;

  @include not-mobile {
    height: 93.5%;
    flex-direction: row-reverse;
    align-items: flex-end;

    &.bid {
      flex-direction: row;
    }
  }
}
