@import '../../_colors.scss';
@import '../../_media.scss';

.orders {
  background-color: $night-black;
  display: flex;
  flex-direction: column-reverse;

  @include not-mobile {
    flex-direction: row;
  }
}

.spread {
  @include not-mobile {
    display: none;
  }
}
