.order {
  height: 20px;
  width: 100%;
  display: flex;
  padding: 5px;
}

.cell {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
}

.bid-price-cell {
  color: #00ffae;
}

.ask-price-cell {
  color: rgb(255 146 146);
}

@media (max-width: 600px) {
  .order {
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
  }

  .order-buy {
    display: flex;
    flex-direction: row-reverse;
  }

  .cell {
    padding-right: 5px;
  }
}
