.orders {
  display: flex;
}

.total-cell {
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 5px 5px 5px 0;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #121828;
  padding: 15px;
}

.toggle-button {
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 6px;
  background-color: #614ee2;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: #211b53;
}

.toggle-button:active {
  background-color: #6c63c4;
}

.toggle-button:disabled {
  background-color: #38373b;
  color: darkgray;
}

@media (max-width: 600px) {
  .orders {
    flex-direction: column;
    flex-direction: column-reverse;
  }
}
