@import '../../../styles/_media.scss';

.bar {
  width: var(--percent);
  height: 100%;

  @include not-mobile {
    width: 100%;
    height: var(--percent);
  }
}

.bid {
  background: #143c3c;
}

.ask {
  background: #45212d;
}
