@import '../../_media.scss';
@import '../../_colors.scss';
@import '../../_library.scss';

.errorModal {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: center;

  padding-bottom: 1rem;

  @include not-mobile {
    width: 25%;
  }
}

.title {
  background-color: $smooth-red;
}

.button {
  @include button;

  background-color: $smooth-red;
  &:hover {
    background-color: #8d0707;
  }

  &:active {
    background-color: #b84747;
  }
}
