.order-table {
  height: 100%;
  display: inline-block;
  width: 50%;
  position: relative;
}

.table {
  position: relative;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;

  min-height: 29.713125rem;
}

@media (max-width: 40rem) {
  .order-table {
    width: 100%;
  }
}
