.order-table {
  height: 100%;
  display: inline-block;
  width: 50%;
  position: relative;
}

.table {
  position: relative;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  overflow: hidden;
}

@media (max-width: 600px) {
  .order-table {
    width: 100%;
  }
}
