@import '../../../styles/_media.scss';

.orderTableContainer {
  position: relative;
  width: 100%;
}

.orderTable {
  position: relative;
  border-collapse: collapse;
  width: 100%;
  display: flex;
  flex-direction: column;

  min-height: 29.8125rem;
  @include not-mobile {
    min-height: 31.8125rem;
  }
}

.orderTableBody {
  display: flex;
}

.ask {
  flex-direction: column-reverse;
  @include not-mobile {
    flex-direction: column;
  }
}

.bid {
  flex-direction: column;
}
