.order-table {
  height: 100%;
  display: block;
  position: relative;
}

.order-table > table {
  position: relative;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;

  min-height: 29.713125rem;
}

@media (min-width: 640px) {
  .order-table {
    width: 50%;
    display: inline-block;
  }
}
