.content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  display: flex;
  background-color: #121828;
  padding: 5px;
  padding-right: 20px;
  margin: 1px 0;
}

.header-cell {
  display: flex;
  color: #474e5d;
  justify-content: flex-end;
  width: 33.3%;
}

.columns {
  display: flex;
  flex-direction: column;
}
.column {
  width: 33.3%;
}

.column-container {
  display: flex;
  width: 500px;
  position: relative;
}

.total-column {
  width: 33.3%;
  padding-right: 23px;
}

.two-columns {
  width: 66.6%;

  padding-left: 15px;
}

.total-column-reversed {
  width: 33.3%;
  padding-left: 0;
}

.two-columns-reversed {
  width: 66.6%;

  padding-right: 15px;
}

@media (max-width: 600px) {
  .column-container {
    width: 100%;
  }
  .total-column {
    padding-right: 17px;
  }
  .buy-column-container {
    display: flex;
    flex-direction: row-reverse;
  }

  .buy-total-cell {
    padding-right: 20px;
  }

  .header {
    padding-right: 15px;
  }

  .two-columns-reversed {
    padding-right: 0;
  }
}
