@import '../../_colors.scss';
@import '../../_media.scss';

.header {
  background-color: $night-black;
  padding: 0.525rem 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $matrix-black;

  @include not-mobile {
    padding: 0.225rem 0;
    position: relative;
    justify-content: center;
  }
}

.title {
  width: 33.3%;
  padding: 0 0 0 0.9375rem;
  margin: 0;
  font-size: 1.17em;

  @include not-mobile {
    position: absolute;
    left: 0;
  }
}

.spread {
  display: none;
  @include not-mobile {
    display: inline-flex;
  }
}
