@import '../../_colors.scss';
@import '../../_media.scss';

.spread {
  margin: 0.0625rem 0;
  padding: 0.3125rem 0;
  display: flex;
  justify-content: center;
  color: $header-color;
  font-size: 1rem;
}
