@import '../../_colors.scss';

.spread {
  margin: 0.0625rem 0;
  padding: 0.3125rem 0;
  display: flex;
  justify-content: center;
  color: $header-color;

  @media (min-width: 40rem) {
    width: 33.3%;
    margin: 0;
  }
}
