@import '../../_colors.scss';
@import '../../_library.scss';

.footer {
  display: flex;
  justify-content: center;
  background-color: $night-black;
  padding: 0.9375rem;
  border-top: 1px solid $matrix-black;
}

.buttonToggle {
  @include button;

  background-color: #614ee2;

  &:hover {
    background-color: #211b53;
  }

  &:active {
    background-color: #6c63c4;
  }

  &:disabled {
    background-color: #38373b;
    color: darkgray;
  }
}
