.footer {
  text-align: center;
  background-color: #121828;
  padding: 0.9375rem;
  border-top: 1px solid #262e3e;
}

.toggle-button {
  border: none;
  width: 6.25rem;
  height: 1.875rem;
  border-radius: 0.375rem;
  background-color: #614ee2;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: #211b53;
}

.toggle-button:active {
  background-color: #6c63c4;
}

.toggle-button:disabled {
  background-color: #38373b;
  color: darkgray;
}
